<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.randomone.androidmonsterc3">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Modules"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".StudentProfileEdit" />
        <activity android:name=".StudentProfile" />
        <activity android:name=".ManagerEntranceActivity" />
        <activity android:name=".MainActivity" />
        <activity
            android:name=".SplashScreenActivity"
            android:theme="@style/SplashScreenTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ModuleCreatorActivity"
            android:label="Create/Edit Module" />
        <activity
            android:name=".StudentCreatorActivity"
            android:label="Create/Edit Student" />
        <activity
            android:name=".ModuleActivity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ManagerDashboard"
            android:label="ManagerDashboard" />
    </application>

</manifest>